.hero{
    min-height: 100vh;
    /* width: 100vw; */
    background-image: url('/img3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.75);
    /* background-blend-mode: darken; */
    /* padding-top: 150px; */
    /* padding-bottom: 70px; */
}

.para{
    color: #0095ff;
    font-size: 1.8rem;
    line-height: 45px;

}